*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
        border-left: 1px solid rgb(238, 238, 238);
        width: 6px;

    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgb(16, 96, 187);
        border-radius: 10px;
    }
}

body, html {
    min-width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;

}

p {
    line-height: 1.7;
}

.block {
    border-radius: .5rem;
}

input, textarea {
    width: 100%;
    padding: .75rem;
    outline: none;
    border: 1px solid lightgray;
    border-radius: .5rem;
    transition: all 200ms linear;

    &:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

select {
    padding: .75rem;
    outline: none;
    border: 1px solid lightgray;
    border-radius: .5rem;

    &:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

.container {
    margin: 0 auto;
}

@media only screen and(min-width: 1400px) {
    .container {
        width: 75%;
    }
}

@media only screen and(max-width: 1400px) and(min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media only screen and(max-width: 1200px) and(min-width: 992px)  {
    .container {
        width: 75%;
    }
}

@media only screen and(max-width: 992px) and(min-width: 768px) {
    .container {
        width: 75%;
    }
}

@media only screen and(max-width: 768px) and(min-width: 576px) {
    .container {
        width: 75%;
    }
}

@media only screen and(max-width: 576px) {
    .container {
        width: 90%;
    }
}
