.form-container {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    padding: 2rem;
    
    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 2rem;
        text-transform: capitalize;
    }

    .form-group {
        margin: 1.6rem 0;
        
        label {
            display: block;
            margin-bottom: 8px;
            text-transform: capitalize;
        }

        .fileUploadContainer {
            display: flex;

            input[type=file] {
                width: 0;
                height: 0;
                overflow: hidden;
                line-height: 0;
                position: absolute;
                visibility: hidden;
                pointer-events: none;
            }
    
            button.fileUploadHandler {
                margin: 0 auto 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10rem;

                span {
                    font-size: 1rem;
                }
            }
        }
    }

    
    button {
        display: block;
        margin: 0 0 0 auto;
        padding: .6rem;
        background-color: #0c55c4;
        color: #fff;
        border: none;
        border-radius: .5rem;
        cursor: pointer;

        &:hover {
            background-color: #1462d6;
        }

        &:disabled {
            background-color: #1462d6a9;
            cursor: not-allowed;

            &:hover {
                background-color: #1462d6a9;
            }
        }
    }
}