.booking {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 2rem;
    margin: 2rem 0;
    position: relative;

    h3 {
        margin: 25px 0;
        font-size: 2rem;
    }

    p {
        margin: 25px 0;

        &.gr {
            color: green;
            font-weight: 700;
        }

        &.re {
            color: red;
            font-weight: 700;

        }
    }

    .booking-actions {
        position: absolute;
        top: 0;
        right: 0;
        margin: 2rem 2rem 0 0;

        button {
            border: none;
            width: 64px;
            height: 64px;
            color: #fff;
            border-radius: 50%;
            transition: all 225ms linear;
            cursor: pointer;

            &:hover {
                transform: scale(.92);
            }

            &:not(:last-of-type) {
                margin-right: 1rem;
            }

            &.gr {
                background-color: green;
            }

            &.re {
                background-color: crimson;
            }
        }
    }
}