.Booking-Window {
    padding-bottom: 2rem;
    .bookingOverview {
        text-align: center;
        width: 75%;
        margin: 0 auto;
        border: 1px solid #0c55c4;
        color: #0c55c4;
        padding: 2rem 1rem;
        border-radius: .5rem;

        p {
            font-weight: bold;
        }
    }
    
    form {
        width: 75%;
        margin: 0 auto;
        section {
            margin: 1.5rem 0;

            label {
                width: 100%;
                display: block;
                margin-bottom: 8px;
            }
        }
 
        button {
            padding: 1rem 2rem;
            margin: 0 0 0 auto;
            display: block;
            border: none; 
            border-radius: .66rem;
            background-color: rgb(14, 151, 21);
            color: #fff;
            cursor: pointer;
            
            &:hover {
                background-color: rgb(18, 177, 26);
            }
        }
    }
}