.react-calendar {
    width: auto;
    border: 1px solid rgb(224, 224, 224);
    border-radius: .7rem;
}

.showAllTimes {
    margin: 1rem auto;
    display: block;
    background-color: rgb(12, 98, 168);
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 6px 10px;
    border-radius: .25rem;
    
    &:hover {
        background-color: rgb(10, 78, 156);
    }
}

.times {
    padding: 1rem 0;

    h4 {
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        justify-content: space-between;

        span {
            color:rgb(12, 98, 168);

            &:hover {
                cursor: pointer;
                color:rgb(24, 129, 216);

            }
        }
    }
    
    .available-date {
        border: 1px solid lightgray;
        padding: 1rem;
        border-radius: .7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
    
        &:hover {
            border-color: #0c55c4;
            background-color: #fafafa;
            cursor: pointer;
        }
    
        &:not(:first-of-type) {
            margin-top: 1rem;
        }
    }
}