.emsTrainingPage {
    section {
        .block {
            margin: 2rem 0;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            padding: 2rem;

            ul {
                margin-left: 1rem;
                list-style-position: inside;
            }

            h3 {
                margin-bottom: 1rem;
                text-transform: uppercase;
            }
        }
    }
}