.home-page {
    
    .hero-section {
        display: flex;
        height: 100vh;    
        justify-content: space-evenly;
        
        .content {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            nav {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-bottom: 2rem;
                display: flex;
                width: 50%;

                a {
                    font-size: 1rem;
                    color: #333;
                    text-decoration: none;
                    position: relative;

                    &:not(:last-of-type) {
                        margin-right: 1.33rem;
                    }

                    &:hover {
                        &::before, &::after {
                            width: 50%;
                        }
                    }

                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color: rgb(3, 88, 158);
                        border-radius: 1rem;
                        position: absolute;
                        top: 100%;
                        margin-top: 5px;
                        transition: all 225ms linear;
                    }

                    &::before {
                        left: 0;
                    }
                    &::after {
                        right: 0;
                    }
                }
            }

            div {
                width: 50%;

                h1 {
                    max-width: 25ch;
                    font-size: 3rem;
                }

                p {
                    margin: 1.6rem 0;
                }

                button {
                    padding: 1rem;
                    border: none;
                    font-weight: 700;
                    background-color: #0c55c4;
                    color: #fff;
                    text-transform: uppercase;
                    border-radius: 1rem;
                    cursor: pointer;
                }
            }
        }

        .bg-img {
            width: 50%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}

@media only screen and(max-width: 1200px) {
    .home-page {
        .hero-section {
            .content {
                div {
                    width: 75%;
                }
            }
        }
    }
}

@media only screen and(max-width: 968px) {
    .home-page {
        .hero-section {
            .content {
                width: 100%;

                nav {
                    display: none;
                }

                div {
                    width: 75%;
                    padding: 0 2rem;

                    h1 {
                        font-size: 2.4rem;
                    }
                }
            }

            .bg-img {
                display: none;
            }
        }
    }
}

@media only screen and(max-width: 768px) {
    .home-page {
        .hero-section {
            .content {
                div {
                    width: 100%;
                }
            }
        }
    }
}