.addService-form {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 2rem;
    margin: 50px 0;
    border-radius: .5rem;

    h2 {
        font-size: 3rem;
        margin-bottom: 3.6rem;
        position: relative;
        display: inline;

        &::after {
            content: '';
            position: absolute;
            width: 40%;
            top: 100%;
            right: 0;
            margin: 5px 0 0 0;
            height: 4px;
            background-color: rgb(10, 77, 201);
        }
    }

    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1.6rem 0;

        label {
            display: block;
            width: 25%;
            margin-right: 1rem;
        }

        input:not([type=checkbox]) {
            display: block;
            padding: .5rem;
            flex-grow: 1;
            outline: none;
            border: 1px solid lightgray;

            &:focus {
                border-color: lightblue;
            }
        }
    }

    button {
        display: block;
        margin: 0 0 0 auto;
        padding: .85rem 1.5rem;
        border: none;
        border-radius: .6rem;
        background-color: rgb(7, 56, 192);
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: rgb(11, 66, 216);
        }
    }
}

@media only screen and (max-width: 1200px) {
    .addService-form {
        section {
            flex-direction: column;

            &.checkbox-row {
                flex-direction: row;
            }
            
            label {
                width: 100%;
                margin: 0 0 8px 0 !important;
            }

            input:not([type=checkbox]) {
                width: 100%;
                margin: 0 !important;
            }
        }
    }
}