.dashboard-nav {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    align-items: center;
    display: flex;

    .container {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            display: inline-block;
            color: #2b2b2b;
            &:hover {
               color: gray;
            }
    
            &:not(:last-of-type) {
                margin-right: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .dashboard-nav {
        a {
            font-size: .85rem;
            text-align: center;

            &:not(:last-of-type) {
                margin-right: 0;
            }

            &:nth-child(odd) {
                margin-right: .8rem;
            }

            &:nth-child(even) {
                margin-left: .8rem;
            }

            &::after {
                display: none !important;
            }
        }
    }
}